{% extends "base.html" %}

{% block content %}
<h1>{{ user.username }}'s Profile</h1>
<p style="font-size: 1.5em; text-align: center;"><span class="avatar">{{ user.avatar }}</span> {{ user.username }}</p>
<h2>Messages</h2>
{% for message in messages %}
    <div class="message">
        <div class="deaded-badge">DEADED</div>
        <div class="message-content">{{ message.content }}</div>
        {% if message.image_data %}
            <img src="data:image/png;base64,{{ message.image_data }}" alt="Dead Bee" class="dead-bee-image">
        {% endif %}
        <div class="message-meta">Posted on {{ message.timestamp }}</div>
    </div>
{% endfor %}
{% endblock %}
