{% extends "base.html" %}

{% block content %}
    <h2>Register</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username() }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
{% endblock %}
